extends ../layouts/public
block content
  #confirmWrap
block pscript
  script(type="text/javascript", src="/script/helper.js")
  script(type="text/javascript", src="/script/public.js")
  script(src="/script/history.confirm.js")
